**/__pycache__/
*.py[cod]
*.pyo
*.pyd
__pycache__/*

**/data

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/

# Translations
*.mo

# Django stuff: 
*.log

# Flask stuff:  #
*.pyo
*.pyd
__pycache__/*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/

# Translations
*.mo

# Django stuff: 
*.log

# Flask stuff:  #
*.env